.lp-text-center {
  background-color: white;
  color: white;
}

.lp-login-wallet-img {
  width: 40%;
  float: left;
  padding: 50px 40px;
  border: none
}

.lp-form-signin {
  margin: 50px;
  padding: 20px 0;
  background-color: rgb(51, 94, 110);
  text-align: center;
  width: 420px;
  height: auto;
  float: right;
  box-sizing: border-box;
  border-radius: 10%;
  font-family: "Courier New", Courier, monospace;
}

.lp-form-signin p {
  color: red;
  font-family: "Courier New", Courier, monospace;
}

.lp-button1 {
  margin-top: 5px 0;
  float: left;
  padding-left: 70px;
}

.lp-login-form-control {
  width: 260px;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  border: 2px solid lightskyblue;
  background-color: silver;
}

::placeholder {
  font-family: "Courier New", Courier, monospace;
}

.lp-login-button {
  width: 270px;
  padding: 15px 20px;
  background-color: brown;
  border: none;
  color: white;
  margin: 10px;
}

.lp-login-button:hover {
  background-color: aqua;
  color: black;
}

.lp-login-button span {
  font-family: "Courier New", Courier, monospace;
}

.lp-success-message {
  color: green;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 3px;
  background-color: aliceblue;
}

.lp-error-message {
  color: red;
  font-weight: bold;
  background-color: white;
  font-size: 15px;
}